:root{
    --red: #8E2424;
    --redClaro: rgba(142, 36, 36, 0.05);
    --cinzaClaro: #667085;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
}

nav a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header {
    width: 89%;
    min-height: 44px;
    margin: 18px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-family: 'Inter', sans-serif;

}


.logo {
    display: flex;
    justify-content: flex-start;
    width: 148px;
    height: 27px;
    margin: 26px 0px 26px 112px;
}

.logo-img {
    width: 27px;
    height: 27px;
}

.logo-title { /*rever a aula de css da rocket*/
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
}    

.submenu {
    display: flex;
    justify-content: space-around;
    margin-right: 12%;
    width: 363px;
    height: 33px;
    color: #667085;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.submenu a {
    text-decoration: none;
    color: #667085;
}

.submenu a:hover {
    text-decoration: underline;
}

.login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 208px;
    height: 45px;

}

.login a:hover {
    text-decoration: underline;
}

.login a:link {
    text-decoration: none;
}    

.entrar {
    font-family: Inter;
    color: #667085;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 8px 10px 18px;
}


.cadastrar {
    color: white;
    background-color: #8E2424;
    border: 1px solid #8E2424;
    border-radius: 8px;
    padding: 9px 15px;
    width: 109px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 24px;

    width: 100%;
    height: 407px;

    background: #FFFFFF;
}

header span {
    width: 78px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #8E2424;
}

header h1 {
    width: 603px;
    height: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    letter-spacing: -0.02em;

    color: #101828;
}

header p {
    width: 791px;
    height: 60px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    text-align: center;

    color: #667085;
}

.sec-1 {
    height: 262px;
    max-width: 100%;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.sec1-container {
    height: auto;
    width: 100%;
    padding: 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec1-container h1 {
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;

    color: var(--red);
}

.sec1-container span {
    height: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #101828;
}

.sec1-container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--cinzaClaro);
}

.sec-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont1 {
    width: 89%;
    height: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sec2-text {
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 32px;
    gap: 20px;
}

.sec2-p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    
    height: 28px;
    width: 125px;
    
    border-radius: 16px;
    background-color:  var(--redClaro);
}

.sec2-text p {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    color: var(--red);
}

.sec2-text h2 {
    width: 100%;

    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    line-height: 44px;

    text-align: center;
}

.sec2-text span {
    width: 100%;

    color: var(--cinzaClaro);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.sec2-cont img {
    max-width: 1216px;
    max-height: 400px;

}

.cont2 {
    width: 89%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: stretch;
}

